<div class="container featurette">

  <div class="col-12 text-center mb-4 ">
    <h2 class="featurette-heading fw-normal lh-1 text-white">BUYING VINTAGE PRE-1980 COMICS</h2>
    <p class="lead text-white">Own vintage comics from before 1980? We’re paying top dollar for your collection.</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-6 col-md-3 mb-4">
      <div class="image-frame">
        <div class="image-container">
          <img src="assets/batman-comic.jpg" alt="Comic 1" class="img-fluid" />
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-4">
      <div class="image-frame">
        <div class="image-container">
          <img src="assets/batman-robin-comic.jpg" alt="Comic 2" class="img-fluid" />
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-4">
      <div class="image-frame">
        <div class="image-container">
          <img src="assets/hulk-comic.jpg" alt="Comic 3" class="img-fluid" />
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-4">
      <div class="image-frame">
        <div class="image-container">
          <img src="assets/xmen-comic.jpg" alt="Comic 4" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-12 text-center">
    <h3 class="text-white">Why Choose Our Comics?</h3>
    <ul class="list-unstyled text-white">
      <li>COMIC BOOKS 1930-1975</li>
      <li>ORIGINAL COMIC ART</li>
      <li>PULPS AND MAGAZINES</li>
      <li>BIG LITTLE BOOKS</li>
      <li>COMIC FANZINES</li>
    </ul>
  </div> -->

  <!-- New Section 2: Coins -->
  <div class="row featurette mb-5">
    <div class="col-md-6 m-auto">
      <h2 class="featurette-heading text-white">BUYING PRE-1964<br> GOLD & SILVER COINS</h2>
      <p class="lead text-white">Cash in on your pre-1964 gold and silver coins—get a great offer today.</p>
      <!-- <br>
      <h2 class="featurette-heading text-white">Explore Our Stamp Collection</h2>
      <p class="lead text-white">Discover a wide array of vintage and rare stamps from around the world.</p> -->
    </div>


    <div class="col-md-6 m-auto">
      <img src="assets/coins-cutout.png" alt="Coins" class="img-fluid">
    </div>
  </div>

  <!-- New Section 3: Records -->
  <div class="row featurette mb-5">
    <div class="col-md-6 order-md-2 m-auto">
      <h2 class="featurette-heading text-white">BUYING RECORDS<br> (1950s-80s - LPs & 45s)</h2>
      <p class="lead text-white">Have records from the 1950s-80s? Sell your LPs and 45s to us.</p>
    </div>
    <div class="col-md-6 order-md-1">
      <img src="assets/records-cutout.png" alt="Records" class="img-fluid image-frame">
    </div>
  </div>

  <!-- New Section 4: Pokemon -->
  <div class="row featurette mb-5">
    <div class="col-md-6 m-auto">
      <h2 class="featurette-heading text-white">BUYING POKEMON & EXCLUSIVE SPORTS CARDS</h2>
      <p class="lead text-white">Looking to sell your Pokémon or exclusive sports cards? We’re ready to buy!</p>
      <!-- <br>
      <h2 class="featurette-heading text-white">Exclusive Sports Cards</h2>
      <p class="lead text-white">Find your favorite sports cards, featuring the best players from across the world.</p> -->
    </div>
    <div class="col-md-6">
      <img src="assets/Pokemon-Logo.png" alt="Pokemon Cards" class="img-fluid">
    </div>
  </div>

  <!-- New Section 5: One Piece -->
  <div class="row featurette mb-5">
    <div class="col-md-6 order-md-2 m-auto">
      <h2 class="featurette-heading text-white">BUYING ONE PIECE MERCHANDISE</h2>
      <p class="lead text-white">Turn your One Piece collectibles into cash—we're buying authentic items now.</p>
    </div>
    <div class="col-md-6 order-md-1">
      <img src="assets/one-piece.png" alt="One Piece" class="img-fluid">
    </div>
  </div>

  <!-- New Section 7: Model Trains -->
  <div class="row featurette mb-5">
    <div class="col-md-6 order-md-1 m-auto">
      <h2 class="featurette-heading text-white">BUYING MODEL TRAINS</h2>
      <p class="lead text-white">Turn your rare stamps into cash—we're buying Authentic Collectibles Today!</p>
    </div>
    <div class="col-md-6 order-md-2">
      <img src="assets/model-trains.png" alt="Model Trains" class="img-fluid">
    </div>
  </div>

  <div class="row featurette mb-5">
    <div class="col-md-6 order-md-2 m-auto">
      <h2 class="featurette-heading text-white">BUYING RARE STAMP COLLECTIONS</h2>
      <p class="lead text-white">Unlock the value of your rare stamps—top offers for authentic finds!</p>
    </div>
    <div class="col-md-6 order-md-1">
      <img src="assets/stamps.jpg" alt="Model Trains" class="img-fluid image-frame">
    </div>
  </div>




  <div class="row featurette mb-5">





    <div class="row justify-content-center mb-5">
      <div class="col-md-8 text-left content-center">
        <div class="col-12 text-center mb-4">
          <h2 class="featurette-heading fw-normal lh-1 text-white">More...</h2>
          <p class="lead text-white">We BUY, SELL, and TRADE all items listen below.</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3 class="text-white">Music</h3>
            <ul class="list-unstyled text-white">
              <li>Records (1950s-80s - LPs & 45s)</li>
              <li>CDs/DVDs</li>
              <li>Reel to Reel Tapes</li>
              <li>(We do not purchase 78 RPMs)</li>
            </ul>
  
            <h3 class="text-white">Sports</h3>
            <ul class="list-unstyled text-white">
              <li>Baseball Cards (1867-1980)</li>
              <li>Trading & Gum Cards</li>
            </ul>
  
            <h3 class="text-white">Old Toys</h3>
            <ul class="list-unstyled text-white">
              <li>Character Board Games</li>
              <li>Matchbox-Hotwheels</li>
              <li>Old Dolls</li>
              <li>Robots</li>
              <li>Barbie & Related Dolls</li>
              <li>Disney</li>
            </ul>

            <h3 class="text-white">Movie & Related</h3>
            <ul class="list-unstyled text-white">
              <li>Movie Magazines (1920-1970)</li>
              <li>Movie Posters, Lobby Cards, & Stills</li>
              <li>16MM & 35MM Films</li>
              <li>Sci-Fi & Horror</li>
            </ul>
  
          </div>
  
          <div class="col-md-6">

            <h3 class="text-white">Ephemera</h3>
            <ul class="list-unstyled text-white">
              <li>Non-Sports Cards</li>
              <li>Political & Historical Material</li>
              <li>Stamp & Coin Collections</li>
              <li>Sheet Music, Trade Cards, & Paperbacks (1930-1960)</li>
              <li>Early Automobile & Related Literature</li>
              <li>Postcards</li>
              <li>Tobacco Labels & Cards</li>
              <li>Adult/Girlie Magazines (1930-1970)</li>
              <li>Autograph's - Movie & Sports</li>
              <li>TV Guide</li>
              <li>Sports Memorabilia</li>
            </ul>
  
            <h3 class="text-white">Miscellaneous</h3>
            <ul class="list-unstyled text-white">
              <li>Jukeboxes</li>
              <li>Militaria & Railroading</li>
              <li>Pinbacks & Coca Cola Memorabilia</li>
              <li>Coin Collections/Numismatic</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery-container">
    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4" *ngFor="let image of images">
            <div class="card">
              <div class="card-img-wrapper">
                <img class="card-img-top equal-img" [src]="image.src" [alt]="image.alt">
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

</div>
