<div class="hero-section slackey-regular d-flex align-items-center justify-content-center text-center">
  <div class="hero-content">
    <a class="navbar-brand" href="#">
      <!-- <img src="assets/logo.png" alt="Malibu Detailing Logo" height="200"> -->
    </a>
    <h1 class="text-uppercase title ">21st Century Collectibles</h1>

    <h4 class="text-white">Call Us: <a class="phoneLink" href="tel:+2014498365">+1 201-343-4886</a></h4>
    <h5 class="text-white">Store Hours: Wed-Sat 11 AM - 6 PM</h5>
    <button class="m-5 btn-danger btn-lg" onclick="document.getElementById('contact').scrollIntoView({behavior: 'smooth'});">BUY, SELL, & TRADE</button>
    <h2 class="text-white">Serving our customers since 1991</h2>
  </div>
</div>
