<div class="hero-section slackey-regular d-flex align-items-center justify-content-center text-center">
  <div class="hero-content">
    <a class="navbar-brand" href="#">
      <!-- <img src="assets/logo.png" alt="Malibu Detailing Logo" height="200"> -->
    </a>
    <h1 class="text-uppercase title ">21st Century Music & Collectibles</h1>

    <h4 class="text-white contact-info">
      <span class="call-us">
        CALL US: <a class="phoneLink" href="tel:+12014498365">+1 201-343-4886</a>
      </span>
      <span class="separator">|</span>
      <span class="toll-free">
        TOLL FREE: <a class="phoneLink" href="tel:+12014498365">+1 800-846-9501</a>
      </span>
    </h4>
    
    
    <h5 class="text-white">
      Store Hours:&nbsp;<span class="nowrap">Wed-Sat 11 AM - 6 PM</span>
    </h5>
    <button class="m-5 btn-danger btn-lg" onclick="document.getElementById('contact').scrollIntoView({behavior: 'smooth'});">
      BUY, SELL, & TRADE
    </button>
    <h2 class="text-white">Serving our customers since 1991</h2>
  </div>
</div>
