<div class="socialBar">
    <div class="instagram-facebook">
        <a class="" href="https://www.instagram.com/21stcenturycollectibles/" target="_blank"><i class="bi bi-instagram social-logos"></i></a>
        <a class="" href="https://www.facebook.com/profile.php?id=100066983161029"><i class="bi bi-facebook social-logos"></i></a>
    </div>
    <div class="email">
        <div class="address">
            <p id="address"><i class="bi bi-geo-alt-fill social-logos"></i> 174 Route 17 North, 1st Floor, Rochelle Park, NJ</p>
        </div>
        <p class="split" style="color: white; height: 50%;">|</p>
        <a class="emailLink" href="mailto:john21centurymusic.com">
            <p id="email"><i class="bi bi-envelope social-logos"></i> 
                sales&#64;21centurymusic.com</p>
        </a>
        <p class="split" style="color: white; height: 50%;">|</p>
        <div class="phoneNumber">
            <a class="phoneLink" href="tel:+2014498365">
                <p id="phoneNumber"> <i class="bi bi-telephone social-logos"></i>+1 201-343-4886</p>
            </a>
        </div>
    </div>
</div>
